name: Expo Publish
on:
  push:
    branches:
      - dev
jobs:
  publish:
    name: Install and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: expo/expo-github-action@v5
        with:
          expo-version: 4.x
          expo-username: GitHub
          expo-token: ${{ secrets.EXPO_TOKEN }}
      - run: npm install
      - run: expo publish